<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Book a seat on {{ vehicle.title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #f="ngForm" (ngSubmit)="onBookVehicle()">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input
              type="text"
              ngModel
              name="first"
              #firstCtrl="ngModel"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input
              type="text"
              ngModel
              required
              name="last"
              #lastCtrl="ngModel"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">ID number</ion-label>
            <ion-input
              type="number"
              ngModel
              required
              name="id"
              #idCtrl="ngModel"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Passengers</ion-label>
            <ion-select [ngModel]="'2'" required name="passengers">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">From</ion-label>
            <ion-datetime
              display-format="MMM DD YYYY"
              required
              name="from"
              [ngModel]="startDate"
              #fromCtrl="ngModel"
              [min]="vehicle.from.toISOString()"
              [max]="vehicle.to.toISOString()"
            ></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label position="floating">To</ion-label>
            <ion-datetime
              display-format="MMM DD YYYY"
              required
              name="to"
              [ngModel]="endDate"
              #toCtrl="ngModel"
              [min]="fromCtrl.value"
              [max]="vehicle.to.toISOString()"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            color="secondary"
            fill="solid"
            expand="block"
            type="submit"
            [disabled]="!f.valid || !datesValid"
          >
            Book
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
