<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Membership</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item detail button>
            <ion-label>
              Adult
            </ion-label>
          </ion-item>
          <ion-item detail button>
            <ion-label>
              Junior
            </ion-label>
          </ion-item>
          <ion-item detail button>
            <ion-label>
              Digital
            </ion-label>
          </ion-item>
          <ion-item detail button>
            <ion-label>
              Premium
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
