<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Video</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment scrollable>
      <ion-segment-button value="all" checked>ALL</ion-segment-button>
      <ion-segment-button value="matchAction">MATCH ACTION</ion-segment-button>
      <ion-segment-button value="interviews">INTERVIEWS</ion-segment-button>
      <ion-segment-button value="features">FEATURES</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content> </ion-content>
