<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Video</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment scrollable>
      <ion-segment-button value="all" checked>ALL</ion-segment-button>
      <ion-segment-button value="matchAction">MATCH ACTION</ion-segment-button>
      <ion-segment-button value="interviews">INTERVIEWS</ion-segment-button>
      <ion-segment-button value="features">FEATURES</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="videos && !isLoading" no-padding>
    <ion-list>
      <ion-list-header>
        <h2></h2>
      </ion-list-header>
      <ion-row>
        <ion-col size="12" size-md="8" offset-md="2" text-left no-padding>
          <ion-card>
            <ion-img src="{{videos[0]?.thumbnail }}"></ion-img>
            <ion-card-content>
              <ion-card-header>
                <ion-card-title>
                  {{videos[0].title}}
                </ion-card-title>
              </ion-card-header>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-grid>

  <ion-list *ngIf="videos">
    <ion-list-header>
      <ion-label> <h2>Latest Videos</h2></ion-label>
    </ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let video of videos.slice(1)" size="6">
          <ion-img [src]="video?.thumbnail"></ion-img>
          <ion-item lines="none">
            <ion-label>
              <p>{{video.title}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-grid *ngIf="isLoading" margin-vertical="70%">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" text-center>
        <ion-spinner color="primary" name="bubbles"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- end latest videos -->
</ion-content>
