<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment>
    <ion-segment-button value="all" checked>ALL</ion-segment-button>
    <ion-segment-button value="match action" checked
      >MATCH ACTION</ion-segment-button
    >
    <ion-segment-button value="interviews" checked
      >INTERVIEWS</ion-segment-button
    >
    <ion-segment-button value="features" checked>FEATURES</ion-segment-button>
  </ion-segment>
</ion-content>
