<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ user.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Gender</ion-label>
            <ion-select>
              <ion-select-option value="male">Male</ion-select-option>
              <ion-select-option value="females">Female</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">First name</ion-label>
            <ion-input name="first"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Last name</ion-label>
            <ion-input name="last"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Date of birth</ion-label>
            <ion-datetime></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="floating">City</ion-label>
            <ion-input name="first"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Postcode</ion-label>
            <ion-input name="first"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Country</ion-label>
            <ion-input name="first"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input name="email" type="email"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" fill="solid" expand="block"
          >Save</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
