<ion-header>
  <ion-toolbar>
    <!-- adding a back button,defaultHref is to return to 
    previous page if the partial news is loaded first -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/massivefc"></ion-back-button>
    </ion-buttons>
    <ion-title>{{article.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row text-left>
      <ion-col size="12">
        <h2>{{article.title}}</h2>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center no-padding>
        <ion-img [src]="article.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
