<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MassiveFc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid *ngIf="articles && !isLoading" no-padding>
    <!-- start row news -->
    <ion-list>
      <ion-list-header>
        <h2>Latest News</h2>
      </ion-list-header>
      <ion-row>
        <ion-col size="12" size-md="8" offset-md="2" text-left no-padding>
          <ion-card>
            <ion-img src="{{articles[0]?.imageUrl}}"></ion-img>
            <ion-card-content>
              <ion-card-header>
                <ion-card-title>
                  {{articles[0].title}}
                </ion-card-title>
              </ion-card-header>
            </ion-card-content>
            <div>
              <ion-button
                fill="clear"
                color="primary"
                [routerLink]="['/','home','tabs','massivefc','partial-news',articles[0]._id]"
              >
                More
              </ion-button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-list>
      <ion-item
        *ngFor="let item of articles.slice(1,6)"
        detail
        [routerLink]="['/','home','tabs','massivefc','partial-news',item._id]"
      >
        <ion-thumbnail slot="start">
          <ion-img [src]="item?.imageUrl"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ item.title}}</h2>
          <p>{{ item.subtitle}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <!-- end row news -->

    <!-- start row fixture -->
    <ion-list>
      <ion-list-header>
        <h2>Next Fixture</h2>
      </ion-list-header>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2">
          <ion-card (click)="openModal()">
            <ion-img src="{{articles[0]?.imageUrl}}"></ion-img>
            <ion-card-content>
              <ion-card-header>
                <!-- <ion-card-title>
                 sat 2nd May-1700 Massive Stadium
               </ion-card-title> -->
                <ion-card-subtitle>
                  Super League
                </ion-card-subtitle>
              </ion-card-header>
              <ion-button fill="clear" color="primary"
                >News & Video
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <!-- end row fixture -->
    </ion-list>

    <!-- start latest videos -->

    <ion-list>
      <ion-list-header>
        <ion-label> <h2>Latest Videos</h2></ion-label>
      </ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let video of videos" size="6">
            <ion-img [src]="video?.imageUrl"></ion-img>
            <ion-item lines="none">
              <ion-label>
                <p>{{video.title}}</p>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <!-- end latest videos -->

    <!-- start row latest result -->
    <ion-list>
      <ion-list-header>
        <ion-label><h2>Latest Result</h2></ion-label>
      </ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="8" offset-sm="2">
            <ion-card (click)="openModal()">
              <ion-img
                src="{{articles[articles.length-1]?.imageUrl}}"
              ></ion-img>
              <ion-card-content text-left>
                <ion-text>
                  {{articles[articles.length-1].title}}
                </ion-text>
                <ion-button fill="clear" color="primary" detail>
                  News & Video
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <!-- end row next fixture -->
      </ion-grid>
    </ion-list>
  </ion-grid>

  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" text-center>
        <ion-spinner color="primary" name="bubbles"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
