<ion-header>
  <ion-toolbar>
    <ion-title>MassiveFc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <!-- start row news -->
    <ion-row>
      <h2>Latest News</h2>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{articles[0].title}}
            </ion-card-title>
            <ion-card-subtitle>{{articles[0].imageUrl}}</ion-card-subtitle>
          </ion-card-header>
          <ion-img src="{{articles[0].imageUrl}}"></ion-img>
        </ion-card>
        <ion-card-content>
          <p>{{articles[0].subtitle}}</p>
        </ion-card-content>
        <div>
          <ion-button
            fill="clear"
            color="primary"
            [routerLink]="['/','home','tabs','massivefc','partial-news',articles[0].id]"
          >
            More
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-list>
          <ion-item
            *ngFor="let item of articles.slice(1)"
            detail
            [routerLink]="['/','home','tabs','massivefc','partial-news',item.id]"
          >
            <ion-thumbnail slot="start">
              <ion-img [src]="item.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ item.title}}</h2>
              <p>{{ item.subtitle}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <!-- end row news -->

    <!-- start row fixture -->
    <h2>Next Fixture</h2>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              sat 2nd May-1700 Massive Stadium
            </ion-card-title>
            <ion-card-subtitle>
              Super League
            </ion-card-subtitle>
          </ion-card-header>
          <ion-img src="{{articles[0].imageUrl}}"></ion-img>
          <ion-card-content>
            <p>News & Video ></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- end row fixture -->

    <!-- start latest videos -->
    <h2>Latest Videos</h2>
    <ion-row>
      <ion-col *ngFor="let video of articles.slice(1)" size="6">
        <ion-card>
          <ion-img src="{{video.imageUrl}}"></ion-img>
        </ion-card>
        <ion-card-content>
          <h6>{{video.title}}</h6>
          <p>{{video.subtitle}}</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
    <!-- end latest videos -->

    <!-- start row latest result -->
    <h2>Latest Result</h2>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              sat 7th May-1800 Massive Stadium
            </ion-card-title>
            <ion-card-subtitle>
              Super League
            </ion-card-subtitle>
          </ion-card-header>
          <ion-img src="{{articles[0].imageUrl}}"></ion-img>
          <ion-card-content>
            <p>vs Alliance Fc 1-0</p>
            <p>News & Video ></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- end row next fixture -->
  </ion-grid>
</ion-content>
