<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          MassiveFc
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" detail routerLink="/account">
            <ion-icon name="person"></ion-icon>
            <ion-label>Account</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" detail routerLink="/my-tickets">
            <ion-icon name="checkbox-outline"></ion-icon>
            <ion-label>My tickets</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" detail routerLink="/alert">
            <ion-icon name="alert"></ion-icon>
            <ion-label>Alerts</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" detail routerLink="/settings">
            <ion-icon name="cog"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none">
            <ion-icon name="cart"></ion-icon>
            <ion-label>Massive Store</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none">
            <ion-icon name="card"></ion-icon>
            <ion-label>Tickets</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none">
            <ion-icon name="business"></ion-icon>
            <ion-label>Membership</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none">
            <ion-icon name="kids"></ion-icon>
            <ion-label>Junior Fans</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" detail (click)="onLogOut()" button>
            <ion-icon name="exit"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
