<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          MassiveFc
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" detail routerLink="/auth/account">
            <ion-icon name="person"></ion-icon>
            <ion-label>Account</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" detail routerLink="/my-tickets">
            <ion-icon name="checkbox-outline"></ion-icon>
            <ion-label>My tickets</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" detail routerLink="/auth/alerts">
            <ion-icon name="alert"></ion-icon>
            <ion-label>Alerts</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" detail routerLink="/auth/settings">
            <ion-icon name="cog"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/shop">
            <ion-icon name="cart"></ion-icon>
            <ion-label>Shop</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/travel">
            <ion-icon name="car"></ion-icon>
            <ion-label>Travels</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/auth/membership">
            <ion-icon name="business"></ion-icon>
            <ion-label>Membership</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none">
            <ion-icon name="egg"></ion-icon>
            <ion-label>Junior Fans</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogOut()" button>
            <ion-icon name="exit"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
