<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment>
    <ion-segment-button value="all" checked>ALL</ion-segment-button>
    <ion-segment-button value="men" checked>MEN</ion-segment-button>
    <ion-segment-button value="women" checked>WOMEN</ion-segment-button>
    <ion-segment-button value="junior" checked>JUNIOR FANS</ion-segment-button>
    <ion-segment-button value="club" checked>CLUB</ion-segment-button>
    <ion-segment-button value="academy" checked>ACADEMY</ion-segment-button>
    <ion-segment-button value="tickets" checked>TICKETS</ion-segment-button>
  </ion-segment>
</ion-content>
