<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment scrollable>
      <ion-segment-button value="all" checked>
        ALL
      </ion-segment-button>
      <ion-segment-button value="men">MEN</ion-segment-button>
      <ion-segment-button value="women">WOMEN</ion-segment-button>
      <ion-segment-button value="junior">JUNIOR FANS</ion-segment-button>
      <ion-segment-button value="club">CLUB</ion-segment-button>
      <ion-segment-button value="academy">ACADEMY</ion-segment-button>
      <ion-segment-button value="tickets">TICKETS</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- start row news -->
  <ion-list *ngIf="articles && !isLoading">
    <ion-list-header>
      <h2>{{articles[0]?.scrappedDate |date:"short" }}</h2>
    </ion-list-header>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" text-left no-padding>
        <ion-card>
          <ion-img src="{{articles[0]?.imageUrl}}"></ion-img>
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>
                {{articles[0].title}}
              </ion-card-title>
            </ion-card-header>
          </ion-card-content>
          <div text-left>
            <ion-button
              fill="clear"
              color="primary"
              [routerLink]="['/','home','tabs','news','news-detail',articles[0]._id]"
            >
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-grid>
    <ion-virtual-scroll [items]="items" approxItemHeight="320px">
      <ion-item
        size="6"
        *virtualItem="let item"
        [routerLink]="['/','home','tabs','news','news-detail',item._id]"
      >
        <ion-thumbnail slot="start">
          <ion-img [src]="item.imageUrl" [alt]="item.title"></ion-img>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <h4>{{ item.title }}</h4>

          <p>{{ item.scrappedDate |date:"short" }}</p>
        </ion-label>
      </ion-item>
    </ion-virtual-scroll>
  </ion-grid>
  <!-- end latest videos -->

  <ion-grid *ngIf="isLoading" margin-vertical="50%">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" text-center>
        <ion-spinner color="primary" name="bubbles"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
