<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment scrollable>
      <ion-segment-button value="all" checked>
        ALL
      </ion-segment-button>
      <ion-segment-button value="men">MEN</ion-segment-button>
      <ion-segment-button value="women">WOMEN</ion-segment-button>
      <ion-segment-button value="junior">JUNIOR FANS</ion-segment-button>
      <ion-segment-button value="club">CLUB</ion-segment-button>
      <ion-segment-button value="academy">ACADEMY</ion-segment-button>
      <ion-segment-button value="tickets">TICKETS</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content> </ion-content>
