<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/travel"></ion-back-button>
    </ion-buttons>
    <ion-title>Book {{vehicle.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-card>
          <ion-card-header>{{vehicle.title}}</ion-card-header>
          <ion-img [src]="vehicle.imageUrl"></ion-img>
          <ion-card-content>
            <ion-button color="primary" fill="solid" (click)="onBookVehicle()"
              >Book</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
