<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Amos Okumu</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item lines="none" button>
            <ion-icon name="briefcase" slot="end"></ion-icon>
            <ion-label lines="none">General Details</ion-label>
          </ion-item>
          <ion-item lines="none" button>
            <ion-icon name="options-outline" slot="end"></ion-icon>
            <ion-label lines="none">Preferences</ion-label>
          </ion-item>
          <ion-item lines="none" button>
            <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
            <ion-label lines="none">Password</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
