<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-img
            src="https://images.pexels.com/photos/34534/people-peoples-homeless-male.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>Amos Akumu</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item lines="none" button (click)="openModal()" detail>
            <ion-icon name="briefcase" slot="start"></ion-icon>
            <ion-label>General Details</ion-label>
          </ion-item>
          <ion-item lines="none" button detail>
            <ion-icon name="options" slot="start"></ion-icon>
            <ion-label>Preferences</ion-label>
          </ion-item>
          <ion-item lines="none" button detail>
            <ion-icon name="lock-open" slot="start"></ion-icon>
            <ion-label>Password</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
