<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/massivefc"> </ion-back-button>
    </ion-buttons>
    <ion-title>travel</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/travel/new-offer">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" offset-md="6" offset-md="3">
        <ion-segment>
          <ion-segment-button value="my-offer" checked
            >My Offers</ion-segment-button
          >
          <ion-segment-button value="bookable">Bookable</ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
