<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="onFilterContent($event)">
    <ion-segment-button value="men" checked>MEN</ion-segment-button>
    <ion-segment-button value="academy" checked>ACADEMY</ion-segment-button>
    <ion-segment-button value="news" checked>TEAM NEWS</ion-segment-button>
  </ion-segment>
</ion-content>
